

nav {
  background-color:#fcdc04;
  position: fixed;
  width: 100%;
  padding: 10px;
  
  
}
nav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: larger;
    padding: 10px 16px;
    text-decoration: none;
}
h1 {
    font-size: 5em; 
    font-family: 'Vidaloka', serif;
    font-weight: 300;
}
h2{
    font-size: 3em; 
    font-family: 'Vidaloka', serif; 
    font-weight: 300; 
}
h3{
    font-size: 1.5em; 
    font-family: 'Vidaloka', serif; 
    font-weight: 300; 
    text-decoration: underline;
}
#presentation {
 
  padding-top: 50px;
  
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: left;
  align-items: center;
}
#Titre {
  
  text-align: center;
  padding: 10px;
 
  
}
#logoMona {
 
  object-fit: contain;
  text-align: right;
  padding: 10px;
 
}


#RapportFinal {
    padding: 10px;
}
#boutonHebdo {
    background-color: #fcdc04;
    border: none;
    color: black;
   
    text-align: center;
    
    display: inline-block;
  
    cursor: pointer;
    font-weight: bold;
    font-size: larger;
    padding: 10px 16px;
    text-decoration: none;
}
code {
    background-color:rgba(0, 0, 0, .05);
}